* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
    background-image: url('images/wallpaper002.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    max-width: 700px;
    background: white;
    margin: auto;
}